MONGODB_URI=mongodb+srv://akumbar691_db_user:1AYO4nNaHqozcO9z@cluster0.dhfareu.mongodb.net/?appName=Cluster0
PORT=3000
NODE_ENV=development
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
JWT_SECRET=afsasjfsekjegfhafaefjq3rq3rjf
